<template name="accountList">
    <div>
      <a class="btn btn-success" href="{{pathFor 'accountNew'}}"><i class="glyphicon glyphicon-plus"></i> Créer un compte</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Banque</th>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each accounts}}
                    {{> account}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
