<template name="accountRowsList">
    <div class="account-rows">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Libelle</th>
                    <th>Montant</th>
                    <th>Tags</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each accountRows}}
                    {{> accountRow}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>
